{[ template "__start__.html" . ]}
<body>
<div id="app">
    {[ template "__header__.html" . ]}
    <div class="container-fluid">
        <div class="row">
            {[ template "__menu__.html" . ]}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                instructions TODO...
                {[ template "add_host_modal.html" . ]}
                {[ template "mail_set_modal.html" . ]}
                {[ template "toast.html" ]}
            </main>
        </div>
    </div>
</div>
</body>
{[ template "__js__.html" . ]}
<script src="/static/js/public.js?v={[ .TimeStamp ]}"></script>
<script src="/static/js/instructions.js?v={[ .TimeStamp ]}"></script>
{[ template "__end__.html" . ]}