{[ template "__start__.html" . ]}
<body>
<div id="app">
    {[ template "__header__.html" . ]}
    <div class="container-fluid">
        <div class="row">
            {[ template "__menu__.html" . ]}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                <div class="row box" style="height: calc(100vh - 100px); overflow: auto;border: 1px solid #D3D3D3; border-radius: 4px;width: 98%;margin-left: 1%;">
                    <div class="col-2" style="border-right: 1px solid #A9A9A9;padding-top: 12px;">
                        <div>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="搜索" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">{[ SVG "search" 16 16 ]}</button>
                            </div>
                        </div>
                        <div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="新建请求" @click="" style="font-size: 9px;">{[ SVG "lightning" 12 12 ]} </a>
                                <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="新建目录" @click="" style="font-size: 9px;">{[ SVG "plus-lg" 12 12 ]} </a>
                                <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="清空历史" @click="" style="font-size: 9px;">{[ SVG "trash-fill" 12 12 ]} </a>
                            </div>
                        </div>
                        <hr>
                        <span style="font-size: 9px;">历史</span>
                        <div style="height: 240px;overflow: auto;">

                            <ul style="font-size: 9px;">
                                <li><a class="" href="#accordion">[GET] Accordion</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#alerts">[GET] Alerts</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#badge">[GET] Badge</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#breadcrumb">[GET] Breadcrumb</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#buttons">[GET] Buttons</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#button-group">[GET] Button group</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#card">[GET] Card</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#carousel">[GET] Carousel</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#dropdowns">[GET] Dropdowns</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#list-group">[GET] List group</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#modal">[GET] Modal</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#navs">[GET] Navs</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#navbar">[GET] Navbar</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#pagination">[GET] Pagination</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#popovers">[GET] Popovers</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#progress">[GET] Progress</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#scrollspy">[GET] Scrollspy</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#spinners">[GET] Spinners</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#toasts">[GET] Toasts</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#tooltips">[GET] Tooltips</a> <span style="float: right;margin-right: 4px;">{[ SVG "trash-fill" 12 12 ]}</span></li>
                            </ul>
                        </div>
                        <hr>
                        <span style="font-size: 9px;">目录</span>
                        <div style="height: 240px;overflow: auto;">
                            <nav class="small" id="toc">
                                <ul class="list-unstyled">
                                    <li class="my-2">
                                        <button class="btn btn-sm d-inline-flex align-items-center border-0 collapsed" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#contents-collapse" aria-controls="contents-collapse">接口1</button>
                                        <ul class="list-unstyled ps-3 collapse" id="contents-collapse" style="">
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#typography">[GET] Typography </a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#images">[GET] Images </a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#tables">[GET] Tables </a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#figures">[GET] Figures </a></li>
                                        </ul>
                                    </li>
                                    <li class="my-2">
                                        <button class="btn btn-sm d-inline-flex align-items-center border-0 collapsed" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#forms-collapse" aria-controls="forms-collapse">Forms</button>
                                        <ul class="list-unstyled ps-3 collapse" id="forms-collapse" style="">
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#overview">[GET] Overview</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#disabled-forms">[GET] Disabled forms</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#sizing">[GET] Sizing</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#input-group">[GET] Input group</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#floating-labels">[GET] Floating labels</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#validation">[GET] Validation</a></li>
                                        </ul>
                                    </li>
                                    <li class="my-2">
                                        <button class="btn btn-sm d-inline-flex align-items-center border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" aria-controls="components-collapse">Components</button>
                                        <ul class="list-unstyled ps-3 collapse" id="components-collapse" style="">
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#accordion">[GET] Accordion</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#alerts">[GET] Alerts</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#badge">[GET] Badge</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#breadcrumb">[GET] Breadcrumb</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#buttons">[GET] Buttons</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#button-group">[GET] Button group</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#card">[GET] Card</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#carousel">[GET] Carousel</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#dropdowns">[GET] Dropdowns</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#list-group">[GET] List group</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#modal">[GET] Modal</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#navs">[GET] Navs</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#navbar">[GET] Navbar</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#pagination">[GET] Pagination</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#popovers">[GET] Popovers</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#progress">[GET] Progress</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#scrollspy">[GET] Scrollspy</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#spinners">[GET] Spinners</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#toasts">[GET] Toasts</a></li>
                                            <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#tooltips">[GET] Tooltips</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                    <div class="col-10" style="padding: 12px;padding-top: 2px;">
                        <div style="margin-bottom: 8px;">
                            <ul class="nav nav-tabs" style="width: 100%;height:54px;flex-direction: row;flex-wrap: nowrap;overflow-x: scroll;font-size: 11px;">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#" style="width: 200px;">[GET] Activeasdasdasda <span style="float: right;">{[ SVG "x-square-fill" 16 16 ]}</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" style="width: 200px;">[GET]Link <span style="float: right;">{[ SVG "x-square-fill" 16 16 ]}</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" style="width: 200px;">[GET]Link <span style="float: right;">{[ SVG "x-square-fill" 16 16 ]}</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <input class="form-control form-control-sm" type="text" placeholder="接口名称" aria-label="" >
                            </div>
                            <div class="col-8">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group" style="font-size: 11px;">
                                    <a type="button" class="btn btn-outline-dark btn-sm" @click="">{[ SVG "lightning" 14 14 ]}新建请求</a>
                                    <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="报警信息" @click="">全局参数</a>
                                    <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="跳转到网站" @click="">Cookie管理</a>
                                    <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="新建目录" @click="">全局环境</a>
                                    <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="报警信息" @click="">全局参数</a>
                                    <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="跳转到网站" @click="">Cookie管理</a>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px;">
                            <div class="col-8">
                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">GET</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">POST</a></li>
                                        <li><a class="dropdown-item" href="#">PUT</a></li>
                                        <li><a class="dropdown-item" href="#">...</a></li>
                                    </ul>
                                    <input type="text" class="form-control" style="border-color: #343a40;" aria-label="Text input with dropdown button">
                                </div>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-dark">发送</button>
                                <button type="button" class="btn btn-dark" style="margin-left: 6px;">保存</button>
                                <button type="button" class="btn btn-dark" style="margin-left: 6px;">指定发送</button>
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #A9A9A9;font-size: 11px;margin-top: -12px;">
                            <ul class="nav">
                                <li class="nav-item" style="border-bottom: 1px solid #0C0C0C;">
                                    <a class="nav-link" style="color: #0C0C0C;" href="#">Header</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Query</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Body</a>
                                </li>
                            </ul>
                        </div>
                        <div style="height: 180px;overflow: auto;">
                            <table class="table table-hover table-bordered">
                                <tr>
                                    <td style="width: 5%;">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                    </td>
                                    <td style="width: 15%;">
                                        <input class="form-control form-control-sm" type="text" placeholder="Key" aria-label="" style="font-size: 11px;">
                                    </td>
                                    <td style="width: 25%">
                                        <input class="form-control form-control-sm" type="text" placeholder="Value" aria-label="" style="font-size: 11px;">
                                    </td>
                                    <td style="width: 10%;">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="font-size: 11px;">
                                            <option selected>类型</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td style="width: 10%;">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="font-size: 11px;">
                                            <option selected>必填</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td style="width: 15%;">
                                        <input class="form-control form-control-sm" type="text" placeholder="描述" aria-label="" style="font-size: 11px;">
                                    </td>
                                    <td style="width: 10%;">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                            <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="新建目录" @click="">{[ SVG "plus-lg" 14 14 ]}</a>
                                            <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="报警信息" @click="">{[ SVG "bell-fill" 14 14 ]}</a>
                                            <a type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="tooltip" data-bs-title="跳转到网站" @click="">{[ SVG "browser-chrome" 14 14 ]}</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <hr>
                        <div style="font-size: 11px;margin-top: -12px;">
                            <ul class="nav">
                                <li class="nav-item" style="border-bottom: 1px solid #0C0C0C;">
                                    <a class="nav-link" style="color: #0C0C0C;" href="#">响应结果</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">请求头</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">响应头</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Cookie</a>
                                </li>
                            </ul>
                        </div>
                        <p style="font-size: 11px;margin: 4px;" > >>> <span style="color: red;">响应状态码: 404;</span> 响应时间: 16ms; 请求器: node2 @192.168.3.86 |内网: 192.168.3.86 | 公网: 171.214.202.23 中国 四川省 成都市 电信 | </p>
                        <div style="height: 230px;overflow: auto;border: 1px solid #A9A9A9;">
                            <pre style="background-color: #f3f3f3;"></pre>

                        </div>

                    </div>
                </div>


                {[ template "add_host_modal.html" . ]}
                {[ template "mail_set_modal.html" . ]}
                {[ template "toast.html" . ]}
            </main>
        </div>
    </div>
</div>
</body>
{[ template "__js__.html" . ]}
<script src="/static/js/public.js?v={[ .TimeStamp ]}"></script>
<script src="/static/js/requester.js?v={[ .TimeStamp ]}"></script>
{[ template "__end__.html" . ]}