<!-- 报警详情 -->
<div class="modal modal-lg fade" id="alertModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">报警详情</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="height: 520px; overflow: auto;">
                    <template v-if="websiteAlert.len==0">
                        <div class="alert alert-success" role="alert">
                            暂无任何报警，站点运行正常，持续监测中...
                        </div>
                    </template>
                    <template v-else>
                        <template v-for="item in websiteAlert.list">
                            <div class="alert alert-danger" role="alert" style="width: 98%;">
                                <p>{{ item.date }} <a :href="item.uri" class="alert-link" target=_blank>{{ item.uri }}</a>{{ item.msg }} ;</p>
                                <p>监测值=> 状态码:{{ item.uriCode }};响应:{{ item.uriMs }}</p>
                                <p>网络环境=> 对照组:{{ item.contrastUri }} code:{{ item.contrastUriCode }} ms:{{ item.contrastUriMs }};
                                    ping: {{ item.ping }} {{ item.pingMs }}</p>
                                <p>监测器=> name:{{ item.monitorName }} ip: {{ item.monitorIP }} addr: {{ item.monitorAddr }} 内网: {{ item.clientIP }}</p>
                                <button type="button" class="btn btn-link" @click="delAlert(item.alertId, item.hostId)">删除报警</button>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>