<!-- 请确认 -->
<div class="modal fade" id="isOkModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">请确认</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <template v-if="isOk === 'alertClear'">
                    是否清空报警通知
                </template>
                <template v-if="isOk === 'monitorErrClear'">
                    是否清空监控平台错误日志
                </template>
                <template v-if="isOk === 'deleteWebsite'">
                    确认删除对网站 {{deleteWebsite.hostName}} 的监测?
                </template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">否</button>
                <template v-if="isOk === 'alertClear'">
                    <button type="button" class="btn btn-primary" @click="alertClearSubmit">是</button>
                </template>
                <template v-if="isOk === 'monitorErrClear'">
                    <button type="button" class="btn btn-primary" @click="monitorErrClearSubmit">是</button>
                </template>
                <template v-if="isOk === 'deleteWebsite'">
                    <button type="button" class="btn btn-primary" @click="deleteWebsiteSubmit">是</button>
                </template>
            </div>
        </div>
    </div>
</div>