<!-- 邮件设置 -->
<div class="modal fade" id="mailSetModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mailSetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="mailSetModalLabel">邮件设置</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" v-model="mailConf.param.host" placeholder="smtp.qq.com">
                    <label>邮件服务器(例子:smtp.qq.com)</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" v-model="mailConf.param.port" placeholder="25">
                    <label>Port(例子:465/587/25)</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" v-model="mailConf.param.from" placeholder="">
                    <label>From(发送人)</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" v-model="mailConf.param.authCode" placeholder="">
                    <label>AuthCode(授权码)</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" v-model="mailConf.param.toList" style="height: 98px;"></textarea>
                    <label>通知收件人，多个分号";"隔开</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" @click="mailSendTest()">测试发送邮件</button>
                <button type="button" class="btn btn-primary" @click="setMailConf()">保存提交</button>
            </div>
        </div>
    </div>
</div>