<div class="toast-container position-fixed p-3 top-50 start-50 translate-middle">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/static/bootstrap/img/stripe.svg" class="rounded me-2" >
            <strong class="me-auto">提示</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span id="liveToastMsg"></span>
        </div>
    </div>
</div>