<!-- 添加站点监测 modal fade modal-lg   -->
<div class="modal fade" id="toolPingModal"  tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">工具 - Ping</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ping...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>