<div class="modal fade" id="FidWhoisModal"  tabindex="-1" aria-labelledby="FidWhoisModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="FidWhoisModalLabel">Whois查询</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="width: 60%; margin: 0 auto;margin-top: 52px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="输入网址" v-model="objFidWhois.host" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" @click="submitFidWhois">确认执行...</button>
                    </div>
                    <div class="card text-bg-light mb-3" style="margin-top:52px;">
                        <div class="card-header">结果</div>
                        <div class="card-body">
                            <pre class="card-text">{{objFidWhois.rse.rse}}</pre>
                            <pre class="card-text">{{objFidWhois.rse.root}}</pre>
                        </div>
                    </div>
                    <div style="margin-top: 48px;">
                        <span style="font-size: 21px;">历史记录</span>
                        <a @click="clearFidWhoisHistory"  data-bs-toggle="tooltip" data-bs-title="清空历史记录" style="margin-left: 24px;cursor: pointer;">{[ SVG "trash-fill" 18 18 ]}</a>
                        <ul class="list-group list-group-flush" style="height: 160px;overflow: auto;padding: 2px;">
                            <template v-for="item in history.data">
                                <li class="list-group-item" @click="gotoFidWhois(item)" style="cursor: pointer;">{{item}}</li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">退出</button>
            </div>
        </div>
    </div>
</div>