<!-- 查看站点信息 -->
<div class="modal modal-xl modal-dialog-scrollable" id="websiteInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="websiteInfoModalLabel">站点信息</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="font-size: 12px;margin-bottom: 4px;">主机: {{ websiteInfo.data.Host }} </p>
                <p style="font-size: 12px;margin-bottom: 4px;">根URI: {{ websiteInfo.data.HealthUri }}</p>
                <p style="font-size: 12px;margin-bottom: 4px;">IP: {{ websiteInfo.data.HostIP }} => {{ websiteInfo.data.IPAddress }} </p>
                <p style="font-size: 12px;margin-bottom: 4px;">采集深度: {{ websiteInfo.data.UriDepth }}</p>
                <p style="font-size: 12px;margin-bottom: 4px;">监测评率: {{ websiteInfo.data.Rate }} s</p>
                <p style="font-size: 12px;margin-bottom: 4px;">响应慢触发报警: {{ websiteInfo.data.AlarmResTime }} ms</p>
                <p style="font-size: 12px;margin-bottom: 4px;">监测方式: 根URI+随机URI+监测点/{{ websiteInfo.data.Rate }}s</p>
                <hr>
                <p style="font-size: 12px;margin-bottom: 4px;">URI: </p>
                <ul class="list-group list-group-flush" style="height: 120px; overflow: auto;">
                    <template v-if="websiteInfo.data.AllUri === null">
                        <p>采集中...</p>
                    </template>
                    <template v-else>
                        <template v-for="item in websiteInfo.data.AllUri">
                            <li class="list-group-item list-group-item-action">
                                <span>{{ item }}</span>
                                <a style="float: right; margin-right: 12px;" :href="item" target="_blank"><img src="/static/bootstrap/img/window.svg" alt="" width="18" height="18"></a>
                                <a class="copy" style="float: right; margin-right: 12px;" :data-clipboard-text="item" @click="copy"><img src="/static/bootstrap/img/link.svg" alt="" width="18" height="18"></a>
                                <a style="float: right; margin-right: 12px;" @click="gotoUriPoint(websiteInfo.data.ID, item)"><img src="/static/bootstrap/img/broadcast-pin.svg" alt="" width="18" height="18"></a>
                            </li>
                        </template>
                    </template>
                </ul>
                <hr>
                <p style="font-size: 12px;margin-bottom: 4px;">外链: </p>
                <ul class="list-group list-group-flush" style="height: 120px; overflow: auto;">
                    <template v-if="websiteInfo.data.ExtLink === null">
                        <p>采集中...</p>
                    </template>
                    <template v-else>
                        <template v-for="item in websiteInfo.data.ExtLink">
                            <li class="list-group-item list-group-item-action">
                                <span>{{ item }}</span>
                                <a style="float: right; margin-right: 12px;" :href="item" target="_blank"><img src="/static/bootstrap/img/window.svg" alt="" width="18" height="18"></a>
                                <a style="float: right; margin-right: 12px;" @click="copyUri(item)"><img src="/static/bootstrap/img/link.svg" alt="" width="18" height="18"></a>
                            </li>
                        </template>
                    </template>
                </ul>
                <hr>
                <p style="font-size: 12px;margin-bottom: 4px;">死链接: </p>
                <ul class="list-group list-group-flush" style="height: 120px; overflow: auto;">
                    <template v-if="websiteInfo.data.BadLink === null">
                        <p>采集中...</p>
                    </template>
                    <template v-else>
                        <template v-for="item in websiteInfo.data.BadLink">
                            <li class="list-group-item list-group-item-action">
                                <span>{{ item }}</span>
                                <a style="float: right; margin-right: 12px;" :href="item" target="_blank"><img src="/static/bootstrap/img/window.svg" alt="" width="18" height="18"></a>
                                <a style="float: right; margin-right: 12px;" @click="copyUri(item)"><img src="/static/bootstrap/img/link.svg" alt="" width="18" height="18"></a>
                            </li>
                        </template>
                    </template>
                </ul>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>