<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="height: 56px;">
    <div class="col-lg-2">
        <h2 class="me-0 px-3 fs-6 " style="color: #ffffff;">{[ .Title ]}</h2>
    </div>
    <div class="col-lg-10">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addHostModal" style="color: #FFFFFF;float: left;margin-left: 4px;">
            {[ SVG "plus-lg" 18 18 ]} 创建监测
        </button>
        <button type="button" class="btn btn-outline-secondary position-relative" data-bs-toggle="modal" data-bs-target="#addHostModal" style="color: #FFFFFF;float: left;margin-left: 4px;">
            {[ SVG "bell" 18 18 ]} 报警通知
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" style="margin-right: 24px;float: right;">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">设置</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#mailSetModal" >邮件设置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">监视器连接信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">设置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/out">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</header>