<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand me-0 px-3 fs-6">
        {[ .Title ]}
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addHostModal" style="margin-left: 36px;color: #FFFFFF;">
            {[ SVG "plus-lg" 18 18 ]} 添加网站进行监测
        </button>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">设置</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#mailSetModal" >邮件设置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">监视器连接信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">设置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/out">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</header>