<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/tippy-bundle.umd.min.js"></script>