<nav id="sidebarMenu" class="col-md-1 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <div class='{[ if eq .nav "home" ]}active{[ else ]}not-active{[ end ]}'>
                        {[ SVG "display" 16 16 ]} <span>面板</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/monitor">
                    <div class='{[ if eq .nav "monitor" ]}active{[ else ]}not-active{[ end ]}'>
                        {[ SVG "diagram-3-fill" 16 16 ]} <span>监测器</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tool">
                    <div class='{[ if eq .nav "tool" ]}active{[ else ]}not-active{[ end ]}'>
                        {[ SVG "tools" 16 16 ]} <span>工具</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/test/api">
                    <div class='{[ if eq .nav "api-test" ]}active{[ else ]}not-active{[ end ]}'>
                        {[ SVG "bug-fill" 16 16 ]} <span>接口测试</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/test/stress">
                    <div class='{[ if eq .nav "stress-test" ]}active{[ else ]}not-active{[ end ]}'>
                        {[ SVG "activity" 16 16 ]} <span>压力测试</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/test/penetration">
                    <div class='{[ if eq .nav "penetration-test" ]}active{[ else ]}not-active{[ end ]}'>
                        {[ SVG "bricks" 16 16 ]}<span>渗透测试</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/instructions">
                    <div class='{[ if eq .nav "instructions" ]}active{[ else ]}not-active{[ end ]}'>
                        {[ SVG "book" 16 16 ]}<span>使用说明</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>